__pycache__/
*.pyc
.env
*.egg-info/
dist/
build/
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
app/.dart_tool/
app/build/
app/android/.gradle/
app/.packages
*.apk
*.aab
*.jks
*.keystore
